*{margin:0;padding:0}


div.he{
	
	height: 40px;
	padding: 0 0 0 2%;
	background-color: rgb(255, 255, 129);
	
	color: rgb(118, 255, 91);
}

div.oy{
	
	display:flex;
}

div.co{
	
	width: 83%;
	height: 1350px;
	padding: 0 0 0 2%;
	background-color: rgb(255, 255, 255);
	color:rgb(0, 0, 0);
	
}

.star5_rating{
    position: relative;
    z-index: 0;
    display: inline-block;
    white-space: nowrap;
    color: #CCCCCC;
    font-size: 30px;
}

.star5_rating:before, .star5_rating:after{
    content: '★★★★★';
}

.star5_rating:after{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #ffcf32; 
}

.star5_rating[data-rate="5"]:after{ width: 100%; }
.star5_rating[data-rate="4.5"]:after{ width: 90%; }
.star5_rating[data-rate="4"]:after{ width: 80%; }
.star5_rating[data-rate="3.5"]:after{ width: 70%; }
.star5_rating[data-rate="3"]:after{ width: 60%; }
.star5_rating[data-rate="2.5"]:after{ width: 50%; }
.star5_rating[data-rate="2"]:after{ width: 40%; }
.star5_rating[data-rate="1.5"]:after{ width: 30%; }
.star5_rating[data-rate="1"]:after{ width: 20%; }
.star5_rating[data-rate="0.5"]:after{ width: 10%; }
.star5_rating[data-rate="0"]:after{ width: 0%; }


.line01{
	text-decoration: underline;
}

.line02{
	text-decoration: overline;
}

.line03{
	text-decoration: line-through;
}

.line04{
	text-decoration: none;
}

.text01{
	text-align: left;
}

.text02{
	text-align: center;
}

.text03{
	text-align: right;
}

.text04{
	text-align: justify;
}

.shadow01{
	text-shadow: 2px 2px 3px #333333;
}

.font{
    font-size: xx-large;
}

div.na{
	
	width: 17%;
	height: 1350px;
	padding: 0 0 0 2%;
	background-color: rgb(187, 224, 217);
}

div.ni{
	
	width: 17%;
	height: 1400px;
	padding: 0 0 0 2%;
	background-color: rgb(187, 224, 217);
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
}

table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 650px;
    table-layout: fixed;
}

table tr {
    background-color: #e6f2f5;
    padding: .35em;
    border-bottom: 2px solid #fff;
}

table th,
table td {
    padding: 1em 10px 1em 1em;
    border-right: 2px solid #fff;
}

table th {
    font-size: .85em;
}

table thead tr {
    background-color: rgb(187, 224, 217);
    color: #fff;
}

table tbody th {
    background:  rgb(187, 224, 217);
    color: rgb(0, 0, 0);
}

.txt {
    text-align: left;
    font-size: .85em;
}

.price {
    text-align: right;
    color: #167F92;
    font-weight: bold;
}

.non {
    background: #fff
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
        width: 100%
    }

    table th {
        background-color: #167F92;
        display: block;
        border-right: none;
    }

    table tr {
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #bbb;
        display: block;
        font-size: .8em;
        text-align: right;
        position: relative;
        padding: .625em .625em .625em 4em;
        border-right: none;
    }

    table td::before {
        content: attr(data-label);
        font-weight: bold;
        position: absolute;
        left: 10px;
        color: #167F92;
    }

    table td:last-child {
        border-bottom: 0;
    }

    table tbody th {
        color: #fff;
    }
}
