<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>サイト</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&family=Sawarabi+Gothic&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="../../CSS/MAI010/main.css">
</head>
<body>   
    <!-- 初期画面ロゴの表示/ローディング -->
    <div id="loading"></div>

    <!-- ヘッダー -->
    <header id="header">
        <nav class="nav">
            <a href="#profile">PROFILE</a>
            <a href="#latest-video">LATEST VIDEO</a>
            <a href="#project">PROJECT</a>
            <a href="#goods">GOODS</a>
            <a href="#fanart">FAN ART</a>
            <a href="#link">LINK</a>
        </nav>
    </header>

    <!-- hero -->
    <section id="hero"></section>
    <!-- PROFILE -->
     <section id="profile" class="section">
        <div class="profile-wrap">
            <div class="profile-img">
                <!-- キービジュ / 立ち絵切替 -->
            </div>
            <div class="profile-text">
                <h2>PROFILE</h2>
                <p> プロフィールテキスト</p>
            </div>
        </div>
     </section>
    <!-- LATEST VIDEO -->
     <section id="latest-video" class="section">
        <!-- 最新YouTube埋め込み予定 -->
     </section>
</body>
<script src="../../JS/MAI010/main.js"></script>
</html>